MONGODB_URI=mongodb://mongodb_user:mongodb_password@mongodb:27017/skeevy?retryWrites=true&w=majority
MONGODB_INITDB_ROOT_USERNAME=
MONGODB_INITDB_ROOT_PASSWORD=
MONGODB_INITDB_DATABASE=
JWT_SECRET="secret goes here"