{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<form method="POST">
  <h3>Login</h3>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
    />
  </div>
  <div class="d-grid gap-2 d-md-flex">
    <button type="submit" class="btn btn-primary">Login</button>
    <button class="btn btn-outline-primary">Forgot Password</button>
  </div>
</form>
{% endblock %}
