{% extends "base.html" %}
{% block title %}Skeevy - Pets{% endblock %}
{% block content %}
<h3>Pets</h3>
</br>
<a class="btn btn-primary" href="/add_pet" role="button">Add New Pet</a>
</br></br>
<div class="row">
  {% for p in user.pets %}
  <div class="col-sm-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://github.com/rodneygauna.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ p.name }}</h5>
            <p class="card-text">{{ p.dob }}</p>
          </div>
          <div class="card-body">
            <a href="#" class="btn btn-primary">Edit {{ p.name }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
