{% extends "base.html" %}
{% block title %}Skeevy - Pets{% endblock %}
{% block content %}
<form method="POST">
  <h3>Add Pet</h3>
  <div class="mb-3">
    <label for="name" class="form-label">Pet's Name</label>
    <input type="text" class="form-control" id="name" name="name" />
  </div>
  <div class="mb-3">
    <label for="dob" class="form-label">Pet's Date of Birth</label>
    <input type="date" class="form-control" id="dob" name="dob" />
  </div>
  <div class="d-grid gap-2 d-md-flex">
    <button type="submit" class="btn btn-primary">Add Pet</button>
  </div>
</form>
{% endblock %}
